# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local //hhygg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*.local

# Android build artifacts
android/app/build/
android/build/
*.apk
*.aab
*.keystore
*.jks
*.so
*.o
*.d
*.class
*.dex
*.jar
*.aar
*.ap_
*.bin
*.dat
*.properties
*.json
*.xml
*.txt
*.map
*.zip
*.tar
*.gz
*.tgz
*.7z
*.rar
*.cab
*.msi
*.exe
*.dll
*.obj
*.lib
*.pdb
*.idb
*.pch
*.exp
*.ilk
*.ncb
*.suo
*.sdf
*.ipch
*.user
*.vspscc
*.vssscc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
*.vcxproj.*.filters
*.vcxproj.*.user
